@import '../variables/variables';

.header__td {
    @media only screen and (max-width: $brakpoint599) {
        padding-top: 36px!important;
 
        img {
            display: none!important;
        }
    }
}

.header__logoTd {
    @media only screen and (max-width: $brakpoint599) {
        padding-top: 19px!important;
        padding-bottom: 19px!important;
    }
}

.header__logoTable {
    @media only screen and (max-width: $brakpoint599) {
        border-bottom: 1px solid $gray_medium;
    }
}
