.presentationTable.presentationTable {
    th, td {
        @media only screen and (max-width: $brakpoint599) {
            padding-left: 30px!important;
            padding-right: 30px!important;
        }
        @media only screen and (max-width: $brakpoint479) {
            padding-left: 24px!important;
            padding-right: 24px!important;
        }
    }

}

.presentationTable__credsTd {
    @media only screen and (max-width: $brakpoint599) {
        box-sizing: border-box!important;
        display: block!important;
        width: 100%!important;
    }
}