.presentationTable {
    border-radius: 3px;
    border: 1px solid $gray_medium2;
    border-collapse: separate;
    width: 100%;

    th, td {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.presentationTable__headTd {
    border-bottom: 1px solid $gray_medium2;
}

.presentationTable__credsTd {
    padding-top: 30px;
}