@import '../variables/variables';

h1, h2, h3, p {
    margin: 0;
}


.as_text {
    color: $gray;
}

.fBlack {
    color: $black;
}

.fGray {
    color: $gray;
}

.tDecNone {
    text-decoration: none;
}

.f30 {
    font-size: 30px;
}

.f20 {
    font-size: 20px;
}

.text_center {
    text-align: center;
}
