@import '../variables/variables';


@media only screen and (max-width: $brakpoint599) {
    .smPdTop38 {
        padding-top: 38px!important;
    }

    .smPdTop18 {
        padding-top: 18px!important;
    }

    .smPdBt38 {
        padding-bottom: 38px!important;
    }
}